.app {
    text-align: center;
    min-width: 100vh;
    min-height: 100vh;  
}

.appName {
    width: 60%;
    font-size: 2rem;
    font-weight: bold;
    margin: 2.5rem auto;
    padding: 15px;
    background: rgb(0, 50, 50);
    border-radius: 20px;
}